@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-theme {
	@apply border border-gray-300 dark:border-gray-700 rounded;
}

.shadow-theme {
	@apply shadow-md hover:shadow-lg;
}
